@mixin pulse($properties...) {
	$name: inline-#{unique-id()};

	// Animation for pulsating color. Using a mixin so the property to change can be customized.
	@keyframes #{$name} {
		0% {
			@each $property in $properties {
				#{$property}: theme("colors.primary");
			}
		}

		33% {
			@each $property in $properties {
				#{$property}: theme("colors.secondary");
			}
		}

		66% {
			@each $property in $properties {
				#{$property}: theme("colors.accent");
			}
		}

		100% {
			@each $property in $properties {
				#{$property}: theme("colors.primary");
			}
		}
	}

	animation-name: #{$name};
	animation-duration: 1.5s;
	animation-iteration-count: infinite;

	@media (prefers-reduced-motion: reduced) {
		animation-duration: 0s;
		animation-iteration-count: 0;
	}
}
