@use "fonts";
@use "mathjax";
@use "forms";
@use "bibliographies";
@use "animations" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Main body styles
body {
	// Set fonts and stuff
	font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
	font-variant-ligatures: contextual;

	// Text color woohoo
	color: theme("colors.text");

	// Set min height as 100dvh, so that the footer is always at the bottom.
	// Doing this here because tailwind doesn't support `dvh` units, and `dvh`
	// is superior to `vh` for this case.
	min-height: 100dvh;
}

// Styles for the <hr> element - a dash through the page.
hr {
	border: solid;
	border-width: 1px;
	border-color: theme("colors.base-light") !important;
}

// Have links that change color of wavy underline. This is required because not
// all links are `prose`-d by tailwind (e.g. in the header, post lists, etc.).
a {
	// This part is for any link that is not prose.
	font-weight: bold;
	text-decoration: underline wavy theme("textDecorationThickness.1");
	text-decoration-color: theme("colors.primary");

	// This part is for every link, `prose`-d or otherwise: it makes the underline change color on hover.
	&:hover {
		@include pulse(text-decoration-color);
	}

	// Tags are pills, so they should be rounded.
	&.tag:hover {
		@include pulse(border-color, color);
	}

	// Have icons pulse on hover.
	& > svg {
		// The width (and height, because square) of the icon.
		width: 1.1em;
		height: auto;

		// The default text color for the website - prose-invert for prose-gray
		fill: theme("colors.text");

		// Pulses the color on hover. Selects each element below, otherwise it won't work.
		// NOTE: This will break for dual-tone icons (obviously).
		&:hover > * {
			@include pulse(fill);
		}
	}
}

// Make inline code look like code.
:not(pre) > code {
	&::before,
	&::after {
		--tw-content: "" !important;
		content: "" !important;
	}

	background: #1e1e2e;

	@apply font-normal p-1 rounded-md #{!important};
}
