---
import PostList from "$components/Posts/PostList.svelte";
import ProjectList from "$components/Projects/ProjectList.svelte";
import config from "$config";
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts, getProjects } from "$lib/collections";
import { getEntryBySlug } from "astro:content";

// Get the index page markdown file.
const index_page = await getEntryBySlug("pages", "index");
const { Content } = await index_page.render();

// Get the most recent post.
export const recent_post = await getBlogPosts().then((posts) => posts.slice(0, 1));

// Get a random project.
export const recent_project = await getProjects().then((projects) => projects.slice(0, 1));
---

<RootLayout>
	<h1>{config.title}</h1>

	<Content />

	<PostList posts={recent_post} />

	<a href="/blog">{config.languages.en.menu_more ?? "See all posts"} -&gt;</a>

	<br />
	<br />

	<ProjectList projects={recent_project} />

	<a href="/projects">{config.languages.en.menu_more ?? "See all projects"} -&gt;</a>
</RootLayout>
