@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/****************
 * MERRIWEATHER *
 ****************/

@font-face {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*************
 * FIRA CODE *
 *************/

@font-face {
    font-family: "Fira Code";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
