@use "theme";

$footer-height: 3dvh;

// Footer
footer {
    height: $footer-height;
    width: 100%;
    text-align: center;
    color: theme.$text-dimmer;
    & > * + * {
        margin-left: 2rem;
    }
}
