@use "theme";

$header-height: 7dvh;

// Header
header {
	height: $header-height;
	width: 90%;
	margin: 0 auto; // center the header itself
	position: fixed;
	backdrop-filter: blur(1rem); // Make the header see-through but blurry
	// Make the edges fuzzy instead of sharp dileneation between blurry and not
	mask-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 15%
	);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	// Leftmost item
	.home-link {
		padding: 0 1rem 0 0;
	}

	// Rightmost item
	nav {
		padding: 0 0 0 1rem;
		width: 70%;
	}
}

// Navigation
nav {
	width: 90%;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	li {
		margin: 0 0.5rem;
	}
}

.home-link {
	text-decoration: none; // Remove the underline in link from previous styles
	font-weight: bold;

	text-align: center;
	font-size: 1.5rem;

	// Make the text see-through so we can see the gradient
	color: transparent;
	-webkit-text-fill-color: transparent;

	// Gradient!
	background-image: linear-gradient(
		45deg,
		theme.$primary,
		theme.$secondary,
		theme.$accent
	);
	background-clip: text; // Make the gradient only apply to the text, and not outside of it
	background-size: 100% 300%;
	background-position: top;

	transition: background-position 300ms;

	&:hover {
		// Slides the background down to the bottom, revealing the
		// color coming up from the bottom.
		background-position: bottom;
	}
}
