@use "theme";
@use "sass:color";

.page-info {
	.quick-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		& * + * {
			margin: 0 0 0 1rem;
		}
	}

	time {
		color: fade-out(theme.$text, 0.2);
		min-width: max-content;
	}

	ul.tags {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: right;
		justify-content: flex-end;
		flex-wrap: wrap;
		column-gap: 0.3rem;
		row-gap: 0.02rem;

		li.tag > a {
			display: inline-block;
			margin: 0.5rem 0 0;
			padding: 0.2rem 0.5rem;
			border: 0.1rem solid theme.$primary;
			border-radius: 0.5rem;

			text-decoration: none;
		}
	}

	h3 {
		margin-top: 0.25rem;
	}
}
