@use "theme";
@use "sass:math";

.profile-photo {
    float: right;
}

// Inner image
.profile-photo img {
    width: theme.space(24);
    border-radius: calc(math.$max-number * 1px);
    padding-right: 4px;
}
