/*****************
 * GENERAL THEME *
 *****************/

$color-base-100: oklch(18.76% 0.004 286.01);
$color-base-200: oklch(16.76% 0.004 286.01);
$color-base-300: oklch(13.76% 0.004 286.01);
$color-base-content: oklch(92% 0.004 286.32);
$color-primary: oklch(74% 0.16 232.661);
$color-primary-content: oklch(29% 0.066 243.157);
$color-secondary: oklch(54.3% 0.2645 284.09);
$color-secondary-content: oklch(94% 0.028 342.258);
$color-accent: oklch(70.91% 0.3123 328.27);
$color-accent-content: oklch(29% 0.136 325.661);
$color-neutral: oklch(22.3% 0.0038 286.08);
$color-neutral-content: oklch(92% 0.004 286.32);
$color-info: oklch(74% 0.16 232.661);
$color-info-content: oklch(29% 0.066 243.157);
$color-success: oklch(76% 0.177 163.223);
$color-success-content: oklch(37% 0.077 168.94);
$color-warning: oklch(82% 0.189 84.429);
$color-warning-content: oklch(41% 0.112 45.904);
$color-error: oklch(71% 0.194 13.428);
$color-error-content: oklch(27% 0.105 12.094);
$radius-selector: 0.5rem;
$radius-field: 0.25rem;
$radius-box: 0.5rem;
$size-selector: 0.25rem;
$size-field: 0.25rem;
$border: 0.5px;
$depth: 0;
$noise: 0;

/*********************
 * UTILITY FUNCTIONS *
 *********************/

// Calculates a space given some multiplier, using our default spacing value.
@function space($mult) {
    @return 0.25rem * $mult;
}
