@use "sass:color";

// The primary color
$primary: #30adff;

// The secondary color
$secondary: #6a3cff;

// The accent/complement to the primary and secondary colors
$accent: #ff23ff;

// The base/background color
$base: #131315;

// A lighter base/background color
// TODO: is this really the color I want?
$base-light: #5b5b65;

// The text color
$text: #d1d5db;

// The text color, dimmed
$text-dim: fade-out($text, 0.2);

// A dimmer text color
$text-dimmer: fade-out($text, 0.4);
