@use "theme";
@use "links";
@use "header";
@use "footer";
@use "page-info";
@use "sass:color";

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

html {
	min-height: 100dvh;
}

body {
	background: theme.$base;
	color: theme.$text;

	// Set fonts and stuff
	font-family: "Fira Mono", monospace;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
	font-variant-ligatures: contextual;

	margin: 0;
	padding: 0;
	min-height: 100dvh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

// Content in a page
.content {
	top: 0%;
	min-height: 100dvh - header.$header-height - footer.$footer-height;

	width: 65ch; // 65 characters per line, prose standard for tailwindcss
	margin: 0 auto; // center the div itself

	flex-grow: 1; // Make the content div take up all the space it can
}

img {
	max-width: 100%; // Make it fit within the content div
}

// Code
pre {
	padding: 1rem;
	border-radius: 0.5rem;
	overflow-x: auto; // Scroll bar
}

// Profile picture
.pfp {
	float: right;
	margin: 0 0 0 1rem;
	border-radius: 100%;
	border: 0.2rem solid theme.$primary;
}
