@use "fonts";
@use "gradient";
@use "theme" as *;
@use "framework";

/*********
 * FONTS *
 *********/

html {
    // Set font-family globally
    // font-family: "Atkinson Hyperlegible", sans-serif;
    font-family: "Georgia", serif !important;
}

// Set coding styles globally
pre,
code {
    font-family: "Fira Code", monospace;
}

/*
/**********
 * COLORS *
 *********

html {
    // Set BG color.
    background-color: $color-base-100;

    // Ensure text color is correct.
    color: $color-base-content;
}
*/
