@use "fonts";
@use "framework";

/*********
 * THEME *
 *********/

:root {
    // Fonts

    // --font-family-base: "Georgia", serif;
    --font-family-base: "Merriweather", "Georgia", serif;
    --font-family-monospace: "Fira Code", monospace;

    // Colors

    --color-background: oklch(18.76% 0.004 286.01); // Background color
    --color-content: oklch(92% 0.004 286.32); // Foreground/content color

    --color-primary: oklch(74% 0.16 232.661); // Sky blue
    --color-primary-content: var(--color-background);

    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);

    // How much we brighten/dim on hover.
    //
    // NOTE: If this is < 1, we dim.
    //
    // NOTE: We don't need to set `--disabled-opacity` here, as it is calculated
    // from `--focus-brightness`. Specifically, it is calculated as:
    // ```
    // --disabled-opacity: calc(200% - var(--focus-brightness));
    // ```
    // (it's the inverse of the focus brightness. If `--focus-brightness` is 125%,
    // then `--disabled-opacity` will be 75%.)
    --focus-brightness: 125%;
}
