@use "fonts";
@use "framework";

/*********
 * THEME *
 *********/

:root {
    // Fonts

    // --font-family-base: "Georgia", serif;
    --font-family-base: "Atkinson Hyperlegible", serif;
    --font-family-monospace: "Fira Code", monospace;

    // Colors

    --color-background: oklch(18.76% 0.004 286.01); // Background color
    --color-content: oklch(92% 0.004 286.32); // Foreground/content color

    --color-primary: oklch(74% 0.16 232.661); // Sky blue
    --color-primary-content: var(--color-background);
    --color-secondary: oklch(70.91% 0.3123 328.27); // Fuschia
    --color-secondary-content: var(--color-background);

    --color-info: var(--color-primary);
    --color-info-content: var(--color-primary-content); // Info color

    // How much we brighten/dim on hover.
    //
    // NOTE: If this is < 1, we dim.
    //
    // NOTE: We don't need to set `--disabled-opacity` here, as it is calculated
    // from `--focus-brightness`. Specifically, it is calculated as:
    // ```
    // -- disabled-opacity: calc(200% - var(--focus-brightness));
    // ```
    // (it's the inverse of the focus brightness. If `--focus-brightness` is 125%,
    // then `--disabled-opacity` will be 75%.)
    --focus-brightness: 125%;
}
