{% import "macros/page-title.html" as page_title %}

{% macro page_list(pages) %}
<ul class="page-list">
    {% for page in pages | sort(attribute="date") | reverse %}
        <li>
            {{
                page_title::page_title(
                    title=page.title,
                    description=page.description,
                    url=page.path,
                    date=page.date,
                    taxonomies=page.taxonomies
                )
            }}
        </li>
    {% endfor %}
<ul>
{% endmacro %}
