{% macro page_title(title, description=false, url=false, date=false, taxonomies=false) %}
<section class="page-title">
    <div class="top">
        {% if url %}
            <h1><a href="{{ url }}">{{ title }}</a></h1>
        {% else %}
            <h1>{{ title }}</h1>
        {% endif %}

        {% if date %}
            <p><em><date>{{ date | date(format=config.extra.theme.date_format) }}</date></em></p>
        {% endif %}
    </div>

    <div class="bottom">
        {% if description %}
            <p><em>{{ description }}</em></p>
        {% endif %}

        {% if taxonomies %}
            <div class="taxonomies">
                {% for taxon, terms in taxonomies %}
                    {% if taxon == "tag" or taxon == "tags" %}
                        {% set taxon_prefix = "" %}
                        {% set term_prefix = "#" %}
                    {% else %}
                        {% set taxon_prefix = taxon ~ ": " %}
                        {% set term_prefix = "" %}
                    {% endif %}

                    <!-- Divider between taxonomies -->
                    {% if not loop.first %} / {% endif %}
            
                    <p class="taxonomy">
                        <em>
                            {{ taxon_prefix }}
                            {% for term in terms %}
                                <a
                                    href="{{ get_taxonomy_url(kind=taxon, name=term) }}"
                                    class="taxonomy-term"
                                >
                                    {{ term_prefix }}{{ term }}
                                </a>
                            {% endfor %}
                        </em>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endmacro %}
