{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 100,
	"goTemplateBracketSpacing": true,
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "go-template"
			}
		}
	]
}
