<nav>
    <div class="start">
        <h4><a href="/">Cogs And Squigs</a></h4>
    </div>

    <ul class="end">
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="https://github.com/cogsandsquigs">Github</a>
        </li>
    </ul>
</nav>

<style>
    /* Godsend stackoverflow answer: https://stackoverflow.com/a/67853608 */
    header {
        mask: linear-gradient(black, black, transparent);
        backdrop-filter: blur(10px);
    }
</style>
