<nav>
    <div class="start">
        <h4><a href="/">Cogs And Squigs</a></h4>
    </div>

    <ul class="end">
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="https://codeberg.org/cogsandsquigs">
                <img
                    width="24"
                    height="24"
                    src="https://design.codeberg.org/logo-kit/icon_inverted.svg"
                />
            </a>
        </li>
        <li>
            <a href="https://github.com/cogsandsquigs">
                <img
                    width="24"
                    height="24"
                    src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                    style="filter: invert(1)"
                />
            </a>
        </li>
    </ul>
</nav>

<style>
    /* Godsend stackoverflow answer: https://stackoverflow.com/a/67853608 */
    header {
        mask: linear-gradient(black, black, transparent);
        backdrop-filter: blur(10px);
    }
</style>
