<div class="page-info">
	<div class="quick-info">
		{% if page.date %}
		<time>{{ page.date | date(format="%B %e, %Y")}}</time>
		{% endif %}

		{% if page.taxonomies.tags %}
		<ul class="tags">
			{% for tag in page.taxonomies.tags %}
			<li class="tag"><a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	<h3>
		{{ page.description }}

		{% if page.extra.git %}
		<a href="{{ page.extra.git }}" class="git-link">Repository</a>
		{% endif %}
	</h3>

</div>