/**
 * Style page lists
 */

@use "variables" as *;

ul.page-list {
    list-style: none;
    margin: 0 0;
    padding: 0 0;

    /*
        Center on page. NOTE: need to do this instead of padding, etc. b/c want to be able to scale
        relative to parent element, so we need to use percentage of width.
    */
    width: $page-list-width-ratio;
    margin-inline: auto;
}
