/**
 * Style page lists
 */

@use "mixins" as *;
@use "variables" as *;

ul.taxonomy-list {
    list-style: none;
    margin: 0 0;
    padding: 0 0;

    /*
        Center on page. NOTE: need to do this instead of padding, etc. b/c want to be able to scale
        relative to parent element, so we need to use percentage of width.
    */
    width: $page-list-width-ratio;
    margin-inline: auto;

    li.taxonomy-list-item {
        margin: 0 0;
        padding: 0 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align: baseline;

        @include remove-link-decoration;
    }
}
