/*
    Style the sidebar and everything within it.
*/

@use "../theme" as *;
@use "../typography" as *;

aside {
    // Both below necessary for sticky
    position: sticky;
    top: 0;

    // Make this flex for items w/in!
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;

    // Links w/in nav should have no decoration and same color as foreground
    @include remove-link-decoration;

    nav {
        // Some left-padding for style
        padding-left: 1.5rem;

        // Lists w/in nav for nav sections and pages should be no text-decor.
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            // List-elements are links to other pages.
            li {
                padding-bottom: 0.5em;
            }

            // Sub-lists are sub-pages of the following page.
            ul {
                list-style: none;
                padding-left: 0.75rem;
                margin-left: 0.5rem;

                border-left: $border-width solid;
            }
        }
    }
}
