---
// The blog page, where all posts are listed.
import PostList from "$components/PostList.svelte";
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts } from "$lib/blog_posts";
import Icon from "$components/Icon.astro";

// Get the posts!
const posts = await getBlogPosts();
---

<RootLayout title="Blog">
	<h1 class="flex items-center space-x-2">
		<span>Blog</span>

		<a href="/blog/rss.xml">
			<Icon pack="mdi" name="rss" alt="An RSS icon linking to the blog's RSS feed." />
		</a>
	</h1>

	<PostList {posts} />
</RootLayout>
