---
// The blog page, where all posts are listed.
import RootLayout from "$layouts/RootLayout.astro";
import PostList from "$components/PostList.svelte";
import { getBlogPosts } from "$lib/blog_posts";

// Get the posts!
const posts = await getBlogPosts();
---

<RootLayout>
	<h1>Blog</h1>

	<PostList {posts} />
</RootLayout>
