@use "variables" as *;

/**
 * Controls layout and formatting of code blocks (inline and non-inline)
 */

// Inline code
*:not(pre) > code {
    /* border: $border-width solid $color-primary; */
    /* border-radius: $border-radius-md; */
    /* padding: 0 0.25rem; */
    text-decoration: underline $border-width solid;
    text-underline-offset: $underline-offset;
}

/**
 * NOTE: This code is taken from 
 * https://www.getzola.org/documentation/content/syntax-highlighting/
 * as we assume zola syntax highlighting will be used. Fortunately, it's mostly
 * adaptable to our needs.
 **/

// NOT inline code
pre {
    border: $border-width solid $color-primary;
    border-radius: $border-radius-lg;
    padding: 1rem;

    // Scrollable if it overflows.
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    vertical-align: top;
    user-select: none;
}

pre mark {
    /* If you want your highlights to take the full width */
    display: block;
    /* The default background colour of a mark is bright yellow */
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}
