@font-face {
    font-family: "FiraCode Nerd Font Propo";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://github.com/ryanoasis/nerd-fonts/raw/refs/heads/master/patched-fonts/FiraCode/Regular/FiraCodeNerdFontPropo-Regular.ttf")
        format("ttf");
}
