/**
 * Stylize github alerts (if they appear at all!)
 */

@use "variables" as *;

@mixin markdown-alert($color, $emoji, $message) {
    border-left: calc($border-width) solid $color;
    padding-left: 0.5rem;

    &::before {
        content: "#{$emoji} #{$message}";
        color: $color;
    }
}

blockquote.markdown-alert-note,
blockquote.markdown-alert-tip,
blockquote.markdown-alert-important {
    // The info (w/ box) emoji
    @include markdown-alert($color-info, "ℹ️", "Info");
}

blockquote.markdown-alert-warning,
blockquote.markdown-alert-caution {
    @include markdown-alert($color-warn, "&#x2139;&#xFE0F;", "Warning!");
}

// TODO: More differentiation
// TODO: Does tera support "error" and "info" alerts?
