@use "variables" as *;

@mixin remove-link-decoration() {
    a,
    a:visited {
        color: $color-fg;
        font-weight: bold;
        filters: none;
        text-decoration: none;

        // NOTE: Keep focus hover effect, so no changing that here!
    }
}
