@use "variables" as *;

.page-title {
    min-width: 100%;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;

    .page-info-top,
    .page-info-bottom {
        min-width: 100%;

        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    // Links w/in page title should have no decoration and same color as foreground
    a,
    a:visited {
        color: $color-fg;
        font-weight: bold;
        filters: none;
        text-decoration: none;

        // NOTE: Keep focus hover effect, so no changing that here!
    }

    .taxonomies {
        text-align: right;

        .taxonomy {
            // Taxonomy terms should have a bit of horiz. padding.
            .taxonomy-term {
                padding: 0 0.25rem;
            }
        }
    }
}
