@use "sass:math" as *;
@use "variables" as *;

/*************
 * SET FONTS *
 *************/

html {
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: 1.5;
}

tt,
code,
kbd,
samp,
pre {
    font-family: $font-family-mono;
}

/****************
 * SET HEADINGS *
 ****************/

h1 {
    font-size: $font-size-base * pow($header-scale, 3);
}

h2 {
    font-size: $font-size-base * pow($header-scale, 2);
}

h3 {
    font-size: $font-size-base * pow($header-scale, 1);
}

p {
    font-size: $font-size-base;
}

small {
    font-size: $font-size-base * pow($header-scale, -2);
}

h4 {
    font-size: $font-size-base * pow($header-scale, -1);
}

h5 {
    font-size: $font-size-base * pow($header-scale, -2);
}

h6 {
    font-size: $font-size-base * pow($header-scale, -3);
}

/* Also hr b/c want 2 apply the same */
h1,
h2,
h3,
p,
small,
h4,
h5,
h6,
hr {
    overflow-wrap: break-word; // Prevent long strings from overflowing container
    padding: 0;
    margin-top: 0;

    /**
     * Line height * (1/2) = $font-size-base * (1.5) * (1/2)
     * 
     * Note that we do `+ 0em` to convert to `em` units, and then `* 1em` to multiply the
     * bottom-padding by the current font size at this point. That way, spacing is scaled with
     * different font sizes.
     */
    margin-bottom: $font-size-base * 0.75;
}

/**************
 * SET IMAGES *
 **************/

img {
    max-width: 30ch;
    display: block; // Necessary for margin-inline to work, not set for images.
    margin-inline: auto; // Fill excess empty space w/ margin. "center" on page.
}

/**************
 * SET COLORS *
 **************/

html,
hr {
    color: $color-fg;
    background-color: $color-bg;
}

a,
a:visited {
    color: $color-primary;
    font-weight: bold;
}

/************************
 * SET TEXT DECORATIONS *
 ************************/

a,
a:visited {
    // Make underline offset a little bigger than the border width. Exclude color prop. since same
    // color as link color.
    text-decoration: underline solid $border-width;
    text-underline-offset: $underline-offset;
}

/********************************
 * SET ANIMATIONS & TRANSITIONS *
 ********************************/

a,
a:visited {
    &:hover,
    &:focus {
        filter: brightness($focus-brightness);
    }
}

// Since this is motion, only allow if there's no reduced-motion preference
@media (prefers-reduced-motion: no-preference) {
    a,
    a:visited {
        transition: text-underline-offset $transition-fast;

        &:hover,
        &:focus {
            text-underline-offset: calc($underline-offset + 0.1875em);
        }
    }
}
