<head>
    {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title =
    .Site.Title }}{{ end }}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ $title }}" />

    {{ $style := resources.Get "css/style.css" | postCSS (dict "config"
    "themes/cogs/postcss.config.js") | minify | fingerprint |
    resources.PostProcess }}

    <link
        rel="stylesheet"
        href="{{ $style.Permalink }}"
        integrity="{{ $style.Data.Integrity }}"
    />

    <title>{{ $title }}</title>
</head>
