<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">

<nav class="sticky top-0 mb-4 bg-primary">
    <ul class="flex justify-evenly list-none p-0 m-0 [&>li]:p-0">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent " main" . }}active{{ end }}">
            <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        <ul class="sub-menu">
            {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    <hr class="mx-1 my-0" />
</nav>