<ul class="p-0 m-0 list-none not-prose">
	{{ range $index, $post := . }}
		{{ if gt $index 0 }}
			<hr class="mx-10 my-10" />
		{{ end }}


		<li>
			<div class="mb-4">
				<h2 class="mr-3 text-2xl font-bold">
					<a class="no-underline bg-none" href="{{ .RelPermalink }}">{{ $post.Title }}</a>
				</h2>

				{{ if or (not (eq $post.Description "")) (not (eq $post.Description nil)) }}
					<h3 class="mr-3 text-lg font-bold opacity-75">
						<a class="no-underline bg-none" href="{{ .RelPermalink }}">
							{{ $post.Description }}
						</a>
					</h3>
				{{ end }}


				<time class="opacity-75">
					Posted on
					{{ .PublishDate.Format "January 2, 2006" }}
				</time>

				<div class="opacity-75">
					{{ range .Params.tags }}
						<a class="" href="/tags/{{ . }}">#{{ . }}</a>
					{{ end }}
				</div>
			</div>

			<div>
				<p class="mb-4 line-clamp-2">{{ .Summary }}</p>

				<a class="font-bold" href="{{ .RelPermalink }}">
					{{ .Site.Params.readMore | default "Read more" }} ->
				</a>
			</div>
		</li>
	{{ end }}
</ul>
