// // Main/sans-serif font - Atkinson Hyperlegible
// @import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Regular-102.woff")
        format("woff");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Bold-102.woff")
        format("woff");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-Italic-102.woff")
        format("woff");
}
@font-face {
    font-family: "Atkinson Hyperlegible";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/AtkinsonHyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff")
        format("woff");
}

// // Code/monospace font - Fira Code
// @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

// Code/monospace font - Fira Code (with nerd font)
@font-face {
    font-family: "Fira Code";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/FiraCodeNerdFont/FiraCodeNerdFont-Regular.ttf")
        format("truetype");
}
