@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&display=swap");

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

@mixin fira-code-regular {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-feature-settings: "liga", "zero", "tnum", "ss01", "ss03", "ss04",
        "ss05", "ss06", "ss09";
    -webkit-font-feature-settings: "liga", "zero", "tnum", "ss01", "ss03",
        "ss04", "ss05", "ss06", "ss09";
}

@mixin atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
}
*/
