@use "fonts";
// @use "katex";
@use "forms";
@use "preflight";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Main body styles
body {
	// Set fonts and stuff
	font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
	font-variant-ligatures: contextual;
}

// Styles for the <hr> element - a dash through the page.
hr {
	border: solid;
	border-width: 1px;
	border-color: theme("colors.base-light") !important;
}
