// Preflight for TailwindCSS
@layer base {
	// Have links that change color of wavy underline. This is required because not
	// all links are `prose`-d by tailwind (e.g. in the header, post lists, etc.).
	a {
		// This part is for any link that is not prose.
		font-weight: bold;
		text-decoration: underline wavy;
		text-decoration-color: theme("colors.primary");

		// This part is for every link, `prose`-d or otherwise: it makes the underline change color on hover.
		&:hover {
			animation-name: link-color-cycle;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
		}
	}
}

// Animation for link underlines
@keyframes link-color-cycle {
	0% {
		text-decoration-color: theme("colors.primary");
	}

	33% {
		text-decoration-color: theme("colors.accent");
	}

	66% {
		text-decoration-color: theme("colors.secondary");
	}

	100% {
		text-decoration-color: theme("colors.primary");
	}
}
