@use "pulse" as *;

// Preflight for TailwindCSS
@layer base {
	// Have links that change color of wavy underline. This is required because not
	// all links are `prose`-d by tailwind (e.g. in the header, post lists, etc.).
	a {
		// This part is for any link that is not prose.
		font-weight: bold;
		text-decoration: underline wavy;
		text-decoration-color: theme("colors.primary");

		// This part is for every link, `prose`-d or otherwise: it makes the underline change color on hover.
		&:hover {
			@include pulse(text-decoration-color);
		}
	}

	// Have icons pulse on hover.
	a > svg {
		// The width (and height, because square) of the icon.
		width: 1.1em;
		height: auto;

		// The default text color for the website - prose-invert for prose-gray
		fill: theme("colors.gray[300]");

		// Pulses the color on hover. Selects each element below, otherwise it won't work.
		// NOTE: This will break for dual-tone icons (obviously).
		&:hover > * {
			@include pulse(fill);
		}
	}
}
