---
import ResumeJSON from "$components/ResumeJSON.svelte";
import resume from "$content/resume/resume.json";
import RootLayout from "$layouts/RootLayout.astro";
---

<RootLayout>
	<h1>Resume</h1>
	<p>This is under construction - thank you for being patient!</p>

	<ResumeJSON {resume} />
</RootLayout>
