---
import resume from "$content/resume.json";
import RootLayout from "$layouts/RootLayout.astro";

console.log(resume);
---

<RootLayout>
	<h1>Resume</h1>
	<p>This is under construction - thank you for being patient!</p>
</RootLayout>
