---
// This page is a page for each post that contains a certain tag.

import PostList from "$components/PostList.svelte";
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts } from "$lib/blog_posts";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const blogPosts = await getBlogPosts();

	let series = blogPosts.map((entry) => entry.data.series);

	return series.map((series) => {
		return {
			params: { series },
			props: {
				entries: blogPosts.filter((entry) => entry.data.series === series)
			}
		};
	});
}

// 2. When it's time to render, you can get the entry directly from the prop
const {
	params: { series },
	props: { entries }
} = Astro;
---

<RootLayout>
	<h1>Series: {series}</h1>

	<PostList posts={entries} />
</RootLayout>
