---
import { posts } from "$lib/content";
import Page from "$layouts/Page.astro";

const series = [
    ...new Set(posts.map((p) => p.data.taxonomies.series).filter((x) => x)),
].sort();
---

<Page
    title="Series"
    description="All series"
    displayCommand="ls -l"
>
    <section class="prose mx-auto max-w-prose">
        <div class="flex flex-wrap items-center justify-center gap-3">
            {
                series.map((series) => (
                    <a
                        class="btn btn-outline btn-primary text-2xl no-underline"
                        href={`/series/${series}`}
                    >
                        {series}
                    </a>
                ))
            }
        </div>
    </section>
</Page>
