{% macro seo() %}
{% if page and page.title %}
<meta property="og:title" content="{{ config.title }} | {{ page.title }}" />
{% else %}
<meta property="og:title" content="{{ config.title }}" />
{% endif %}

{% if page and page.description %}
<meta name="description" content="{{ page.description }}" />
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="{{ config.description }}" />
<meta property="og:description" content="{{ config.description }}" />
{% endif %}

<meta property="og:url" content="{{ current_url }}" />
<meta property="og:locale" content="en-us" />
<meta property="og:type" content="website" />
{% endmacro seo %}