---
// This page is a page for each post that contains a certain tag.
import PostList from "$components/PostList.svelte";
import Tag from "$components/Tag.svelte";
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts } from "$lib/blog_posts";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const blogPosts = await getBlogPosts();

	let tags = blogPosts.map((entry) => entry.data.tags).flat();

	return tags.map((tag) => {
		return {
			params: { tag },
			props: {
				entries: blogPosts.filter((entry) => entry.data.tags.includes(tag))
			}
		};
	});
}

// 2. When it's time to render, you can get the entry directly from the prop
const {
	params: { tag },
	props: { entries }
} = Astro;
---

<RootLayout
	title={`Tag: ${tag}`}
	description={`The #${tag} tag listing for all posts with this tag`}
>
	<h1>Tag: <Tag tag={tag || ""} /></h1>

	<PostList posts={entries} />
</RootLayout>
