---
// This page is a page for each post that contains a certain tag.
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts } from "$lib/collections";

const tags = await getBlogPosts()
	.then((tags) => tags.map((entry) => entry.data.tags))
	.then((tags) => tags.flat())
	// Remove duplicates.
	.then((tags) => [...new Set(tags)]);
---

<RootLayout title="All tags" description="All the tags on all the blog posts">
	<h1>All tags</h1>

	<ul>
		{
			tags.map((tag) => (
				<li>
					<h2>
						<a href={`/tags/${tag}`}>#{tag}</a>
					</h2>
				</li>
			))
		}
	</ul>
</RootLayout>
