---
import { type CollectionEntry, getCollection } from "astro:content";
import Page from "$layouts/Page.astro";

export async function getStaticPaths() {
    const posts = await getCollection("pages");

    return posts
        .filter((page) => !page.data.draft)
        .map((page) => ({
            params: { slug: page.slug },
            props: page,
        }));
}

type Props = CollectionEntry<"pages">;

const page = Astro.props;
const { Content } = await page.render();
---

<Page
    title={page.data.title}
    description={page.data.description}
>
    <main class="mx-auto prose">
        <Content />
    </main>
</Page>
