---
import PostList from "$components/Posts/PostList.svelte";
import config from "$config";
import RootLayout from "$layouts/RootLayout.astro";
import { getBlogPosts } from "$lib/collections";
import { getEntryBySlug } from "astro:content";

// Get the index page markdown file.
const index_page = await getEntryBySlug("pages", "index");
const { Content } = await index_page.render();

// Get the 3 most recent posts.
const recent_posts = await getBlogPosts().then((posts) => posts.slice(0, 3));
---

<RootLayout>
	<h1>{config.title}</h1>

	<Content />

	<PostList posts={recent_posts} />

	<a href="/blog">{config.languages.en.menu_more ?? "See all posts"} -&gt;</a>
</RootLayout>
