---
import RootLayout from "$layouts/RootLayout.astro";
import { getEntryBySlug } from "astro:content";

// Get the index page markdown file.
let indexPage = await getEntryBySlug("pages", "index");

const { Content } = await indexPage.render();
---

<RootLayout>
	<h1>{indexPage.data.title}</h1>

	<Content />

	<!-- TODO: Put recent posts here! -->
</RootLayout>
