---
import PostList from "$components/PostList.svelte";
import config from "$config";
import RootLayout from "$layouts/RootLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

// Get the index page markdown file.
const index_page = await getEntryBySlug("pages", "index");
const { Content } = await index_page.render();

// Get the 3 most recent posts.
const recent_posts = await getCollection("blog").then((blog) => blog.slice(0, 3));
---

<RootLayout>
	<h1>{config.title}</h1>

	<Content />

	<PostList posts={recent_posts} />
</RootLayout>
