---
import Nav from "$components/Nav.svelte";
import Socials from "$components/Socials.astro";
import config from "$config";
---

<header class="mt-4 w-full not-prose">
	<a class="no-hover-change text-2xl font-bold no-underline bg-none" href="/">{config.title}</a>

	<div class="flex justify-between">
		<Nav />
		<Socials />
	</div>
</header>
