---
import PageCard from "$components/PageCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    pages: [
        | CollectionEntry<"pages">
        | CollectionEntry<"blog">
        | CollectionEntry<"projects">,
    ];
    url_prefix?: string;
}
const { pages, url_prefix } = Astro.props;
---

<section
    class="mx-auto grid grid-flow-row auto-rows-max grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3"
>
    {
        pages.map((post) => (
            <PageCard
                page={post}
                url_prefix={url_prefix ?? "blog"}
            />
        ))
    }
</section>
