---
interface Props {
	entry: any;
}

const { entry } = Astro.props;
---

<div
	class="bg-base-darker rounded-sm p-2 hover:scale-125 ease-in-out transition transform motion-reduce:transition-none motion-reduce:hover:transform-none"
>
	test
</div>
