---
import PostCard from "$components/PostCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    posts: [CollectionEntry<"blog"> | CollectionEntry<"projects">];
}
const { posts } = Astro.props;
---

<section
    class="mx-auto grid grid-flow-row auto-rows-max grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3"
>
    {posts.map((post) => <PostCard {...post} />)}
</section>
