---
import Icon from "$components/Icon.astro";
---

<div>
	<a href="https://github.com/cogsandsquigs">
		<Icon pack="mdi" name="github" />
	</a>
</div>

<style lang="scss">
	// Make every icon on this page larger than the default.
	[iconify-icon] {
		width: 1.6em;
	}
</style>
