<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        
        <!-- Preconnects for fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- Fonts: PT Serif, Fira Code -->
        <link
            href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        <!-- Fonts: Nerd Font Web Fonts. See: https://www.nerdfonts.com/cheat-sheet -->
        <link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet"/>

        {% block head %}
            <!--
                The base stylesheet. Can be overridden to use other stylesheets e.g. page ones. If
                you want to use base style with a new stylesheet, import the base stylesheet in the
                (s)css!
            --->
            <link href="/main.css" rel="stylesheet"/>

            <!-- Enable KaTeX rendering -->
            {% if config.extra.theme.katex.enable %}
                <link
                    rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.css"
                    integrity="sha384-nH0MfJ44wi1dd7w6jinlyBgljjS8EJAh2JBoRad8a3VDw2K69vfaaqm4WnR+gXtA"
                    crossorigin="anonymous"
                />

                <!-- The loading of KaTeX is deferred to speed up page rendering -->
                <script
                    defer
                    src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.js"
                    integrity="sha384-CwjPRVHTvLiMBFjEoij+QZViMV5rhTOIp7CJzl24JEqpRDA1sJFHVXXLURktbYYp"
                    crossorigin="anonymous"
                ></script>

                <!--
                    To automatically render math in text elements, include the auto-render
                    extension:
                --->
                {% if config.extra.theme.katex.auto_render %}
                    <script
                        defer
                        src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/contrib/auto-render.min.js"
                        integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz"
                        crossorigin="anonymous"
                        onload="renderMathInElement(document.body);"
                    ></script>
                {% endif %}
            {% endif %}
        {% endblock %}
        
        <title>
            {% block title %}
                {{ config.title }}
            {% endblock %}
        </title>
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
