{% extends "base.html" %}

{% import "macros/page-title.html" as page_title %}

{% block title %}
    {{ config.title }} - {{ page.title }}
{% endblock %}

{% block body %}
            {% include "partials/sidebar.html" %}
    
            {% block header %}
                {{ page_title::page_title(page=page) }}
            {% endblock %}
            
            <hr>
            
            <div class="content">
                {% block content %}
                    {{ page.content | safe }}
                {% endblock %}
            </div>
{% endblock %}
