{% extends "base.html" %}

{% import "macros/page-title.html" as page_title %}

{% block title %}
    {{ config.title }} - {{ page.title }}
{% endblock %}

{% block body %}
    <aside>
        {% block sidebar %}
            {% include "partials/sidebar.html" %}
        {% endblock %}
    </aside>

    <main>
        {% block main%}
            <header>
                {% block header %}
                    {{
                        page_title::page_title(
                            title=page.title,
                            description=page.description,
                            url=page.path,
                            date=page.date,
                            taxonomies=page.taxonomies
                        )
                    }}
                {% endblock %}
            </header>

            <hr>

            <article>
                {% block content %}
                    {{ page.content | safe }}
                {% endblock %}
            </article>
        {% endblock %}
    </main>
{% endblock %}
