{% extends "page.html" %}

{% import "macros/page-title.html" as page_title %}
{% import "macros/page-list.html" as page_list %}

{% block title %}
    {{ config.title }} - {{ section.title }}
{% endblock %}

{% block header %}
    {{
        page_title::page_title(
            title=section.title,
            description=section.description,
            url=section.path,
        )
    }}
{% endblock %}

{% block content %}
    {% if section.content %}
        {{ section.content | safe }}
        <hr/>
    {% endif %}

    {{ page_list::page_list(pages=section.pages) }}
{% endblock %}
