{% extends "page.html" %}

{% block title %}
    {{ config.title }} - {{ section.title }}
{% endblock %}

{% block header %}
    {{
        <page.title
            title={section.title}
            description={section.description}
            url={section.path}
        />
    }}
{% endblock %}

{% block content %}
    {% if section.content %}
        {{ section.content | safe }}
        <hr/>
    {% endif %}

    {{ <page.list pages={section.pages} date_format={config.extra.theme.date_format} /> }}
{% endblock %}
