{% extends "section.html" %}

{% import "macros/page-list.html" as page_list %}

{% block title %}
    {{ config.title }} - {{ taxonomy.name }}
{% endblock %}

{% block header %}
    {{ page_title::page_title(title=(taxonomy.name | capitalize)) }}
{% endblock %}

{% block content %}
    <ul class="taxonomy-list">
        <!-- Put most-used terms first! -->
        {% for term in terms | sort(attribute="page_count") | reverse %}
            <li class="taxonomy-list-item">
                <h1><a href="{{ term.path }}">{{ term.name }}</a></h1>

                {% if term.page_count == 1 %}
                    <span><em>{{ term.page_count }} page</em></span>
                {% else %}
                    <span><em>{{ term.page_count }} pages</em></span>
                {% endif %}
            </li>
        {% endfor %}
    <ul>
{% endblock %}
