<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="icon" href="/favicon.ico" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		{% if page and page.title %}
		<title>{{ config.title }} | {{ page.title }}</title>
		{% else %}
		<title>{{ config.title }}</title>
		{% endif %}

		{% include "partials/seo.html" %}
		{% include "partials/favicons.html" %}

		<link rel="stylesheet" href="/base.css" />

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<header>
			{% block header %}
			<a class="home-link" href="/">{{ config.title }}</a>
			{% include "partials/nav.html" %}
			{% endblock %}
		</header>

		<div class="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			{% block footer %}
			<span>© {{ config.author }} 2019-{{ now() | date(format="%Y") }}</span>
			{% endblock %}
		</footer>
	</body>

</html>