<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="icon" href="/favicon.ico" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		{% if page and page.title %}
		<title>{{ config.title }} | {{ page.title }}</title>
		{% else %}
		<title>{{ config.title }}</title>
		{% endif %}

		{% include "partials/seo.html" %}

		<link rel="stylesheet" href="/base.css" />

		{% block head %}
		{% endblock %}
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>

</html>