<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.html" %}

    <body class="vertical">
        <header>
            {% include "partials/header.html" %}
        </header>

        <article class="center horizontal" style="min-width:100%;min-height:76vh;">
            <section class="center" style="text-align: center;">
                <h1 style="min-width:100%;">{{ config.title }}</h1>
            </section>
        </article>

        {% include "partials/footer.html" %}
    </body>

</html>
