<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.html" %}

    <body>

        <header>
            Hello! I'm a header!
            <nav>
                <div class="start">I'm a navigation bar!</div>

                <ul class="end">
                    <li>
                        <a href="{{ get_url(path="index.html") }}">Index</a>
                    </li>
                    <li>
                        <a href="{{ get_url(path="page.html") }}">Page</a>
                    </li>
                    <li>
                        <a href="{{ get_url(path="about.html") }}">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <article>
            <h1>{{ config.title }}</h1>
            <h2>asdf</h2>
            <h3>asdf</h3>
            <h4>asdf</h4>
            <h5>asdf</h5>
            <h6>asdf</h6>

            <a href="{{ get_url(path="index.html") }}">Index</a>

            <br>

            <button onclick="alert('Hello, World!')">Click Me!</button>

            <br>

            <a href="{{ get_url(path="index.html") }}" class="button">Index</a>
        </article>

        <footer>
            Hello! I'm a footer!
        </footer>
    </body>
</html>
