{% component page.title(title, description=None, url=None, date=None, taxonomies=None, date_format=None) %}
<section class="page-title">
    <div class="top">
        {% if url %}
            <h1><a href="{{ url }}">{{ title }}</a></h1>
        {% else %}
            <h1>{{ title }}</h1>
        {% endif %}

        {% if date %}
            <p><em><date>{{ date | date(format=(date_format or "%B %-d, %Y")) }}</date></em></p>
        {% endif %}
    </div>

    <div class="bottom">
        {% if description %}
            <p><em>{{ description }}</em></p>
        {% endif %}

        {% if taxonomies %}
            <div class="taxonomies">
                {% for taxon, terms in taxonomies %}
                    {% if taxon == "tag" or taxon == "tags" %}
                        {% set taxon_prefix = "" %}
                        {% set term_prefix = "#" %}
                    {% else %}
                        {% set taxon_prefix = taxon ~ ": " %}
                        {% set term_prefix = "" %}
                    {% endif %}

                    <!-- Divider between taxonomies -->
                    {% if not loop.first %} / {% endif %}
            
                    <p class="taxonomy">
                        <em>
                            {{ taxon_prefix }}
                            {% for term in terms %}
                                <a
                                    href="{{ get_taxonomy_url(kind=taxon, term=term) }}"
                                    class="taxonomy-term"
                                >
                                    {{ term_prefix }}{{ term }}
                                </a>
                            {% endfor %}
                        </em>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endcomponent %}
