@use "../theme" as *;

/**
 * Controls layout and formatting of code blocks (inline and non-inline)
 */

tt,
code,
kbd,
samp,
pre {
    font-family: $font-family-mono;
}

// Inline code
*:not(pre) > code {
    padding: 0 0.25em;
    margin: 0 0.0625em;
    /* border: calc($border-width) solid currentcolor; */
    border: $border-width solid $color-primary;
    /* background-color: color-as-bg(currentcolor); */
}

/** 
 * NOTE: This code is taken from 
 * https://www.getzola.org/documentation/content/syntax-highlighting/
 * as we assume zola syntax highlighting will be used. Fortunately, it's mostly
 * adaptable to our needs.
 **/

// NOT inline code
pre {
    border: $border-width solid $color-primary;
    padding: 1rem;

    // Scrollable if it overflows.
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    vertical-align: top;
    user-select: none;
}

pre mark {
    /* If you want your highlights to take the full width */
    display: block;
    /* The default background colour of a mark is bright yellow */
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}
