---
import CV from "$components/CV/Main.svelte";
import Icon from "$components/Icon.astro";
import cv from "$content/cv/cv.json";
import RootLayout from "$layouts/RootLayout.astro";
---

<RootLayout>
	<h1 class="flex items-center space-x-2">
		<span>CV</span>

		<a href="/cv.json">
			<Icon
				pack="mdi"
				name="code-json"
				alt="A brackets icon linking to the JSON making up this cv."
			/>
		</a>
	</h1>
	<CV {cv} />
</RootLayout>
