footer {
	// Align footer to bottom
	position: absolute;
	left: 0;
	bottom: 0.75rem /* Pad so that it doesn't fully reach the bottom */;

	// Make it take up the whole page width
	width: 100%;

	// Center text
	text-align: center;
}
