@import "links.scss";
@import "fonts.scss";
@import "theme.scss";
@import "footer.scss";
@import "nav/main.scss";

html,
body {
	// Set height so that page can almost fill full screen,
	// leaving some room so that when adding footer, it doesn't
	// create a scrollbar
	height: 99%;
}

body {
	// Theme styles
	background-color: $base;
	color: $text;
	line-height: 145%;

	// Set fonts and stuff
	font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
	font-variant-ligatures: contextual;

	// Lets us make the content take up the whole page
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
