// The primary color
$primary: #30adff;

// The secondary color
$secondary: #6a3cff;

// The accent/complement to the primary and secondary colors
$accent: #49ff23;

// The base/background color
$base: #131315;

// The text color
$text: #f0f0f0;
