// The primary color
$primary: blue;

// The secondary color
$secondary: lightblue;

// The accent/complement to the primary and secondary colors
$accent: pink;

// The base/background color
$base: #111215;

// The text color
$text: #f0f0f0;
