---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Page from "$layouts/Page.astro";

export async function getStaticPaths() {
    const posts = await getCollection("pages");

    return posts
        .filter((page) => !page.data.draft)
        .map((page) => ({
            params: { slug: page.id },
            props: page,
        }));
}

type Props = CollectionEntry<"pages">;

const page = (await getCollection("pages")).find((page) => page.id == "index");
const { Content } = await render(page);
---

<Page
    title="Welcome!"
    description="Hi!"
>
    <main class="prose mx-auto">
        <Content />
    </main>
</Page>
