---
import "$styles/global.css";
import Footer from "$components/Footer.astro";
import BaseHead from "$components/BaseHead.astro";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<html
    lang="en"
    class="min-h-screen font-mono"
>
    <head>
        <BaseHead
            title={title ?? ""}
            description={description ?? ""}
        />
        <slot name="head" />
    </head>

    <body class="flex min-h-screen w-full flex-col">
        <slot name="header" />

        <!--
        <main class="flex flex-grow">
            <slot />
        </main>
-->
        <div class="flex w-full flex-grow">
            <slot />
        </div>

        <div class="w-full self-end">
            <Footer />
        </div>
    </body>
</html>
