---
import Favicons from "$components/Favicons.astro";
import SEO from "$components/SEO.astro";

interface Props {
	title: string;
	description: string | undefined;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<link
			rel="sitemap"
			href="/sitemap-index.xml"
		/>

		<meta
			name="viewport"
			content="width=device-width"
		/>

		<Favicons />

		<SEO
			{title}
			{description}
		/>

		<title>{title}</title>
	</head>

	<body class="bg-base text-foreground">
		<slot />
	</body>
</html>
