---
import Header from "$components/Header.astro";
import Base from "$layouts/Base.astro";

interface Props {
	title: string;
	description: string | undefined;
}

const { title, description } = Astro.props;
const headerHeight = 7;
---

<Base
	title={title}
	description={description}
>
	<Header height={headerHeight} />

	<!-- have to use `style` because tailwind w/ astro doesn't support dynamic styles -->
	<div
		class="max-w-prose flex-grow"
		style={`min-height: ${100 - headerHeight}dvh; margin: ${headerHeight}dvh auto 0 auto`}
	>
		<slot />
	</div>
</Base>
