---
import Layout from "$layouts/Base.astro";
import Command from "$components/Command.astro";

type Props = {
    title: string;
    description: string;
    displayCommand?: string;
};

const { title, description, displayCommand = "less index.html" } = Astro.props;
---

<Layout
    {title}
    {description}
>
    <div
        class="mockup-code flex min-h-full w-full flex-col items-start [&>*]:px-3.5"
    >
        <Command command="find ~ -type l">
            <div class="flex w-full justify-center">
                <ul class="menu menu-horizontal py-0 text-base [&>li]:py-0">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/cv.pdf">CV</a></li>
                    <li>
                        <a href="https://github.com/cogsandsquigs">GitHub</a>
                    </li>
                </ul>
            </div>
        </Command>

        <Command
            command={displayCommand}
            delay={1.3}
        >
            <div class="mt-4 w-full flex-none">
                <slot />
            </div>
        </Command>
    </div>
</Layout>

<style>
    /* 
     * NOTE: This is copying the "button" code on the mockup, w/ same everything 
     * except that we are editing the color 
     * */
    .mockup-code::before {
        opacity: 1; /* Make sure colors have full saturation! */
        box-shadow: /* Make the colors match window color */
            1.4em 0 var(--color-error),
            2.8em 0 var(--color-warning),
            4.2em 0 var(--color-success);
    }
</style>
