{% set root = get_section(path="_index.md") %}

<div class="sidebar">
    <h1><a href="/">{{ config.title }}</a></h1>
    
    <nav>
        <ul class="nav-pages">
            <!-- Sort every root page by its title. -->
            {% for page in root.pages | sort(attribute="title") %}
                {% set page = get_page(path=page.relative_path, metadata_only=true) %}
                <li class="nav-link"><a href="{{ page.path }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav-externals">
            {% for external in config.extra.nav_externals %}
                <li class="nav-link"><a href="{{ external.href }}">{{ external.title }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav-sections">
            <!--
                NOTE: need to rename to `subsection` here b/c otherwise the `section` varible
                somehow interferes w/ this.
            --->
            {% for subsection in root.subsections %}
                {% set subsection = get_section(path=subsection) %}
                <li class="nav-link">
                    <a href="{{ subsection.path }}">{{ subsection.title }}</a>

                    <ul class="nav-sections-subsection">
                        <!--
                            Only get the 3 most recent posts... so we need 2 reverse since sorted
                            ascending (we want descending).
                        --->
                        {% for page in subsection.pages | sort(attribute="date") | reverse | slice(end=3) %}
                            {% set page = get_page(path=page.relative_path, metadata_only=true) %}
                            <li class="nav-link">
                                <small>
                                    <em><a href="{{ page.path }}">{{ page.title }}</a></em>
                                </small>
                            </li>
                        {% endfor %}


                        <!-- vertical dots ("⋮") representing more pages, if there are any. -->
                        {% if subsection.pages | length > 3 %}
                            &#x22EE;
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
