@use "variables" as *;

// Defines a `.grid` element as a grid container with 12 columns (magic 12
// column system).
.grid {
    display: grid;
    grid-gap: $grid-gap;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

// Generate all possible combinations of grid columns and rows
@for $columns from 1 through 12 {
    @for $rows from 1 through 12 {
        .grid-col-#{$columns}-row-#{$rows} {
            display: grid;
            grid-gap: $grid-gap;

            grid-template-columns: repeat($columns, 1fr);
            grid-template-rows: repeat($rows, auto);
        }
    }
}

// Generates classes for each grid column from 1 to 12
@for $columns from 1 through 12 {
    .grid-col-#{$columns} {
        display: grid;
        grid-gap: $grid-gap;

        grid-template-columns: repeat($columns, 1fr);
        grid-template-rows: auto;
    }
}

// Generates classes for each grid row from 1 to 12
@for $rows from 1 through 12 {
    .grid-row-#{$rows} {
        display: grid;
        grid-gap: $grid-gap;

        grid-template-columns: auto;
        grid-template-rows: repeat($rows, auto);
    }
}
