@use "variables" as *;

/**************
 * NAVIGATION *
 **************/

nav {
    min-width: 100%; // Full width of the viewport.
    display: flex;
    flex-direction: row;
    justify-content: space-between; // Space between elements.
    align-items: center; // Items vertically centered.
}

nav ul,
nav ol {
    display: flex;
    list-style-type: none;

    & > li:not(:last-child) {
        margin-right: $spacing-md;
    }
}
