@use "variables" as *;

/*************
 * SET FONTS *
 *************/

html {
    font-size: $font-size;
    font-family: $font-family-base;
    line-height: $line-height;
}

code,
pre code {
    font-family: $font-family-monospace;
}

/****************
 * SET HEADINGS *
 ****************/

// NOTE: These values are taken from https://simplecss.org/demo#basic-typography

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.96rem;
}

/*********************
 * LINKS AND BUTTONS *
 *********************/

// NOTE: links with a `.button` class will be styled as buttons.

a:not(.button) {
    color: $primary;
    text-decoration: underline;
    transition: color $transition-fast;

    &:hover,
    &:focus {
        text-decoration: none;
        filter: brightness($focus-brightness);
    }
}

button,
a.button,
[type="button"],
[type="reset"],
[type="submit"] {
    font-family: $font-family-base;
    font-size: $font-size;
    line-height: $line-height;
    color: $primary-content;
    background-color: $primary;
    border: none;
    border-radius: $border-radius;
    padding: $spacing-xs $spacing-sm;
    cursor: pointer;
    transition:
        background-color $transition-fast,
        color $transition-fast;

    &:hover,
    &:focus {
        filter: brightness($focus-brightness);
    }
}

/***********
 * CONTENT *
 ***********/

// Should take up the entire screen/page:
html,
body {
    min-height: 100%; // Full height of the viewport.
    min-width: 100%; // Full width of the viewport.
}

// Should be at the top of the page.
header {
    min-width: 100%;
    padding: $spacing-md;

    position: sticky;
    top: 0;

    background-color: $background;
}

// A readable article thing
article {
    max-width: 65ch; // Readable width, dynamic: 65 characters per line.
    min-height: 100%;

    margin: 0 auto; // center itself in the element.
}

// Should be at the bottom of the page. If there's not enough content, it will
// stick to the bottom. If there's enough content, it will be pushed down.
footer {
    min-width: 100%;
    padding: $spacing-md;

    opacity: $disabled-opacity;
    text-align: center;
    font-size: 0.9rem;
}
