<!DOCTYPE html>
<html class="min-h-screen">
    {{- partial "head.html" . -}}

    <body
        class="max-w-none min-h-screen bg-primary prose prose-invert prose-a:underline prose-a:decoration-secondary prose-a:decoration-2 prose-a:font-bold prose-hr:border-[1px] prose-hr:border-secondary"
    >
        <div class="header">{{- partial "header.html" . -}}</div>

        <div class="content">{{- block "main" . }}{{- end }}</div>

        <div class="footer">{{- partial "footer.html" . -}}</div>
    </body>
</html>
